name: Node.js CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - run: npm audit
    - run: npm ci
    - run: npm run build
    - uses: actions/upload-pages-artifact@v4
      with:
        path: dist
    - uses: actions/deploy-pages@v4
      id: deployment
